<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Project</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
</head>

<body id="body">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <a class="navbar-brand" href="#" style="color:white;">VNR POLL</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end">
            <form action="/home" method="GET" class="form-inline my-2 my-lg-0" style="margin-right: 15px;">
                <h5><a class="nav-link text-info" style="padding-top: 10px;" href="/home">Vote</a></h5>
            </form>
            <form action="/agendas" class="form-inline my-2 my-lg-0" style="margin-right: 15px;">
                <h5><a class="nav-link text-info" style="padding-top: 10px;" href="/agendas">Agendas</a></h5>
            </form>

            <form action="/statistics" class="form-inline my-2 my-lg-0" style="margin-right: 17px;">
                <h5><a class="nav-link text-info" style="padding-top: 10px;" href="/statistics">Statistics </a></h5>
            </form>

            <form action="/changePassword" method="GET" class="form-inline my-2 my-lg-0" style="margin-right: 30px;">
                <h5><a class="nav-link text-info" style="padding-top: 10px;" href="/changePassword">Change Password </a></h5>
            </form>

            <form action="/logout " method="GET " class="form-inline my-2 my-lg-0 ">
                <button class="btn btn-light my-2 my-sm-0 " type="submit ">Logout</button>
            </form>
        </div>
    </nav>

    <div class="outerbox">
        <div id="box1">
            <p class="tab-item-link" id="login" href="/">Change Password</p>
        </div>

        <div id="box2">
            <form id="myForm" method="POST" action="/changePassword">
                <div class="form-group">
                    <label for="exampleInputEmail1">UserName</label>
                    <input name="username" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Enter username">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Old Password</label>
                    <input name="oldpassword" type="password" class="form-control" id="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">New Password</label>
                    <input name="newpassword" type="password" class="form-control" id="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Confirm New Password</label>
                    <input name="newpassword2" type="password" class="form-control" id="password" placeholder="Password">
                </div>
                <br/>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

    </div>
</body>

</html>