<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Page</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">VNR POLL</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/results">Results<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h2 style="text-align: center; font-weight: bold; margin: 2%;">The ballot is stronger than the bullet.</h2>
        <p style="text-align: center;">Exercise your voting power to benefit your society. Cast your vote now!</p>
        <div class="container" style="text-align: center;">
            <button class="btn btn-success">
                <a href="login" style="color: white;">
                    Login as a voter
                </a>
            </button>
            <button class="btn btn-info">
                <a href="register" style="color: white;">
                    Register as a candidate
                </a>
            </button>
        </div>
        <img src="https://image.freepik.com/free-vector/election-political-campaign_74855-6383.jpg" style=" display:block;
        margin:auto; width: 50%;">
    </div>
    <!-- <a href="login">
        <button type="button" id="butt1" class="btn btn-success btn-lg">
        <h1>Click here to</h1><br>
        <h1>Login</h1><br>
        <h1>as Voter</h1>
    </button>
    </a>
    <a href="register">
        <button type="button" id="butt1" class="btn btn-info btn-lg">
            <h1>Click here to</h1><br>
            <h1>Register</h1><br>
            <h1>as Candidate</h1>
        </button>

    </a> -->


    <script type="text/javascript" src="ano.js"></script>
</body>

</html>